<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    <div class="{% if page.layout == 'home' or page.url == '/' %}home-wrapper{% else %}page-wrapper{% endif %}">
      <header class="header">
        {% include header.html %}    
      </header>
      <aside class="sidebar-left" id="sidebar-left">
        {% include sidebar.html %}
      </aside>
      {{ content }}
      <footer class="main-footer">
        {% include footer.html %}
      </footer>
    </div>
  
    <div class="mobile-overlay" id="mobile-overlay"></div>
    <div id="search-modal">
      <div class="search-overlay"></div>
      <div class="search-container">
        <div class="search-header">
          <i class="ph-duotone ph-magnifying-glass"></i>
          <input type="text" id="search-input" placeholder="Search documentation...">
        </div>
        <div class="search-results"></div>
      </div>
    </div>

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}
    {% include site-before-end.html %}
  </body>

</html>